.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back_button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;
  border: 1px solid #ccc;
  padding: 2rem;
  width: clamp(320px, 80%, 700px);
  margin: 2rem auto;
  border-radius: 8px;
}

.profileSection {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.profile_image_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.profile_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}


.user_information h3 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.user_information form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
}

.user_information label, .profile_image_container p {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.user_information input {
  padding: 0.75rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f5f5f5;
}

.formGroup {
  display: flex;
  flex-direction: column;
}



.delete_section {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

.delete_warning {
  font-size: 0.95rem;
  color: #a00;
  line-height: 1.5;
  padding-block: 1rem;
}

.delete_button_wrap {
  transition: 0.3s ease-in-out;
  font-weight: bold;
  float: right;
  border: 2px solid red;
  scale: 1.1;
}

.delete_button_wrap:is(:hover, :active) {
  background-color: #913434;
  scale: 1;
}

.delete_button{
  padding: 0.75rem 1.5rem;
}




