.contactSection {
  padding: 4rem 0.5rem;
}

@media (min-width: 1024px) {
  .contactSection {
    padding: 4rem;
  }
}

.contactContainer {
  /* padding-top: 5rem;
  padding-bottom: 8rem;
  margin-top: 2rem;
  background-color: #171717; */
  color: white;
  display: flex;
  /* align-items: center; */
  /* flex-direction: column; */
  justify-content: center;
  gap: 1rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.image {
  width: clamp(280px, 80%, 1000px);
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.contactText {
  padding: 0 2rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.contactHeading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contactSubText {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .contactText {
    font-size: 1.25rem;
    padding: 1.5rem;
  }
  .contactHeading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .contactSubText {
    font-size: 1.125rem;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2.5rem;
}

/* Form styles */
.formWrapper {
  min-width: 19.6rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 2px solid #262626;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .formWrapper {
    width: 30rem;
    padding: 2rem;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .formWrapper {
    width: 31.25rem;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.label {
  font-weight: 600;
  color: #e5e7eb;
}

.label::after {
  content: "*";
  margin-left: 0.125rem;
  color: red;
}

.input,
.textarea {
  background-color: #1c1c1c;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 2px solid #262626;
  outline: none;
  color: white;
  font-size: large;
}

.input:focus,
.select:focus,
.textarea:focus {
  border-color: #404040;
}

.textarea {
  height: 7rem;
  resize: vertical;
}

.errorMessage {
  color: #ef4444;
  font-size: 0.875rem;
}

/* Submit button */
.submitButton {
  background-color: #1c1c1c;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #262626;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.submitButton:hover {
  border-color: #404040;
}

.submitButton:active {
  border-color: #404040;
  transform: scale(0.95);
}
