.container {
  position: relative;
  padding: 4rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.alert {
  max-width: 500px;
  margin-bottom: 2rem;
  border-radius: 8px;
  top: 5%;
  right: 5%;
  position: absolute;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #e6f4ea;
  font-size: 1rem;
}

.heading {
  font-size: clamp(2rem, 5vw, 3rem);
  margin-bottom: 1rem;
  font-weight: 700;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  /* font-style: italic; */
}

.back_button{
  position: absolute;
  top:0;
  left:0;
  padding: 40px;
}